@use './variables' as *;

body {
  background-color: var(--secondary-color);
  font-family: $font-family;
  font-weight: $font-weight-regular;
  font-size: $mobile-fs-extra-small;
  color: $senary-color;
  min-height: 100vh;
  overflow-x: hidden;
}
