@use './variables' as *;

@mixin respond-to($breakpoint) {
  @if $breakpoint == tablet {
    @media (min-width: $tablet-point) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media (min-width: $desktop-point) {
      @content;
    }
  }
}

@mixin multiline-ellipsis($lines: 1) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin gradient-button-style(
  $gradient-start: $linear-gradient-start,
  $gradient-end: $linear-gradient-end,
  $text-color: $secondary-color,
  $hover-text-color: $primary-color
) {
  position: relative;
  background: $gradient-start;
  padding: $button-padding;
  border-radius: $button-border-radius;
  font-size: $mobile-fs-small - 1;
  font-weight: $font-weight-medium;
  line-height: 14px;
  color: $text-color;
  transition: all 0.3s ease;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: $button-border-radius;
    padding: 2px;
    background: $gradient-end;
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &:hover {
    background: transparent;
    color: $hover-text-color;

    &::before {
      opacity: 1;
    }
  }

  @include respond-to(tablet) {
    font-size: $tablet-fs-small;
    line-height: 20px;
  }

  @include respond-to(desktop) {
    font-size: $desktop-fs-small;
    line-height: 24px;
  }
}

@mixin transparent-button-style(
  $border-color: $background-color,
  $text-color: $background-color,
  $hover-background: $background-color,
  $hover-border-color: transparent,
  $hover-text-color: $primary-color
) {
  padding: $button-padding;
  border-radius: $button-border-radius;
  background-color: transparent;
  border: 1px solid $border-color;
  font-size: $mobile-fs-small - 1;
  font-weight: $font-weight-medium;
  line-height: 14px;
  color: $text-color;
  transition: all 0.3s ease;

  &:hover {
    background-color: $hover-background;
    border-color: $hover-border-color;
    color: $hover-text-color;
  }

  @include respond-to(tablet) {
    font-size: $tablet-fs-small;
    line-height: 20px;
  }

  @include respond-to(desktop) {
    font-size: $desktop-fs-small;
    line-height: 24px;
  }
}
