@use './../../styles/variables' as *;
@use './../../styles/mixins' as *;

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
  width: 100%;
}

.headerLogoImg {
  width: 32px;
  height: 32px;
  @include respond-to(tablet) {
    width: 48px;
    height: 48px;
  }
}

.headerMenuText {
  text-transform: uppercase;
  font-size: $mobile-fs-small;
  color: $quinary-color;
  line-height: 14px;
  font-weight: $font-weight-medium;
}

.headerLogoText {
  display: none;
  @include respond-to(tablet) {
    color: var(--background-color);
    text-align: center;
    font-size: $tablet-fs-medium;
    line-height: 28px;
    display: block;
  }
}

.headerLogo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navList {
  display: flex;
  align-items: center;
  gap: 32px;
  @include respond-to(desktop) {
    gap: 40px;
  }
}

.listItem {
  color: var(--quinary-color);
  font-size: $tablet-fs-small;
  font-weight: $font-weight-medium;
  line-height: 16px;
  text-transform: uppercase;
  transition: color 0.3s ease;
  &:hover {
    color: $primary-color;
  }
}

// Header Content
.headerContent {
  position: relative;
  background-image: url('./../../assets/image/bg/h.png');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 380px;
  &::after,
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    right: -20px;
    bottom: 0;
  }
  &::after {
    background: linear-gradient(
      90deg,
      rgb(17, 17, 17) 5%,
      rgba(17, 17, 17, 0) 35%
    );
  }
  &::before {
    background: linear-gradient(
      270deg,
      rgb(17, 17, 17) 5%,
      rgba(17, 17, 17, 0) 25%
    );
  }
  @include respond-to(tablet) {
    background-size: contain;
    height: 600px;
    &::after {
      background: linear-gradient(
        90deg,
        rgb(17, 17, 17) 47%,
        rgba(17, 17, 17, 0) 80%
      );
    }
  }
  @include respond-to(desktop) {
    background-size: contain;
    height: 720px;
    &::after {
      background: linear-gradient(
        90deg,
        rgb(17, 17, 17) 35%,
        rgba(17, 17, 17, 0) 35%
      );
    }
  }
}

.headerContentDesc {
  position: relative;
  z-index: 1;
  color: #fff;
  padding: 40px 0 0 0;
  max-width: 245px;
  width: 100%;
  @include respond-to(tablet) {
    padding: 60px 0 0 50px;
    max-width: 360px;
  }
  @include respond-to(desktop) {
    padding: 100px 0 0 110px;
    max-width: 670px;
  }
}

.contentTitle {
  color: $background-color;
  font-weight: $font-weight-bold;
  font-size: $mobile-fs-bold;
  line-height: 38px;
  margin-bottom: 13px;
  @include respond-to(tablet) {
    font-size: $tablet-fs-bold;
    line-height: 44px;
  }
  @include respond-to(desktop) {
    font-size: $desktop-fs-bold;
    line-height: 75px;
    margin-bottom: 18px;
  }
}

.contentText {
  color: $senary-color;
  font-weight: $font-weight-regular;
  font-size: $mobile-fs-regular;
  line-height: 16px;
  margin: 21px 0 20px 0;
  max-width: 180px;
  width: 100%;
  @include respond-to(tablet) {
    font-size: $tablet-fs-small;
    margin: 21px 0 28px 0;
    max-width: 255px;
  }
  @include respond-to(desktop) {
    font-size: $desktop-fs-small;
    line-height: 19px;
    margin: 30px 0 36px 0;
    max-width: 370px;
  }
}

.contentBtns {
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: $desktop-fs-small;
  line-height: 24px;
  font-weight: $font-weight-medium;
}
.contentTrailer {
  position: relative;
  background: $linear-gradient-start;
  padding: $button-padding;
  border-radius: $button-border-radius;
  font-size: $mobile-fs-small - 1;
  font-weight: $font-weight-medium;
  line-height: 14px;
  color: $secondary-color;
  transition: all 0.3s ease;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: $button-border-radius;
    padding: 2px;
    background: $linear-gradient-start;
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &:hover {
    background: transparent;
    color: $primary-color;

    &::before {
      opacity: 1;
    }
  }

  @include respond-to(tablet) {
    font-size: $tablet-fs-small;
    line-height: 20px;
  }
  @include respond-to(desktop) {
    font-size: $desktop-fs-small;
    line-height: 24px;
  }
}

.contentTrailer {
  @include gradient-button-style();
}

.contentMore {
  @include transparent-button-style();
}
